{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Announce Number</th>
                                <th>Title</th>
                                <th>Rooms Number</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>253689</td>
                                <td>Beautiful House</td>
                                <td>3</td>
                                <td>Rent</td>
                            </tr>
                        </tbody>
                    </table>
                <div>
            </div>
        </div>    
    </div>
{% endblock %}
